name: Build Android APK
on:
  push:
    branches: [ main ]
  workflow_dispatch: # Bu satır sayesinde elle de başlatabilirsin

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet certifi
          
      - name: Flet Build APK
        run: |
          flet build apk
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Servis-Takip-Uygulamasi
          path: build/apk/*.apk
